<div class = "container">
  <h1 class = "title"><%= t('edit.task_edit')%></h1>
  <%= form_with(model:@task,local:true) do |f| %>
    <%= f.label t('edit.name') %>
    <%= f.text_field :name %><br>
    <%= f.label t('edit.detail')%>
    <%= f.text_field :detail %><br>
    <%= f.label t('edit.deadline')%>
    <%= f.date_field :deadline %><br>
    <%= f.label t('new.priority')%>
    <%= f.select :priority ,{},{},{style: "width:50px;"} do %>
      <% {a: "低",b: "中",c: "高"}.each do |key,value| %>
      <%= content_tag(:option, value, value:[key,value]) %>
      <% end %>
    <% end %><br>
    <%= f.label t('edit.status')%>
    <%= f.select :status ,{},{},{style: "width:80px;"} do %>
      <% ["未着手","着手中","完了"].each do |status| %>
      <%= content_tag(:option, status, value: status) %>
      <% end %>
    <% end %><br>
    <%= f.label t('edit.labeling_name')%>
    <% Labeling.order(id: :asc).each do |labeling| %>
      <%=f.check_box(:label_labeling_ids,
        {
          multiple: true,
          disabled:labeling[:disabled],
          include_hidden:false
        },
        labeling[:id])%>
      <%=labeling.name%>
    <% end %><br>
    <%= f.submit t('edit.edit_button'),class: "create_task_button btn-primary"%><br>
  <% end %>
  <%= link_to t('edit.back'), tasks_path %>
</div>   
