<div class = "container">
  <h1>タスク新規作成</h1>
  <%= form_with(model: @task,local: true) do |f| %>
    <%= f.label :タスク名 %>
    <%= f.text_field :task_name %><br>
    <%= f.label :タスク詳細%>
    <%= f.text_field :task_details %><br>
    <%= f.submit "作成",class: "create_task_button"%><br>
  <% end %>
  <%= link_to "戻る", tasks_path %>
</div> 
