<div class = "container">
  <h1 class = "title"><%= t('new.task_new_create')%></h1>
  <%= form_with(model: @task,local: true) do |f| %>
    <%= f.label t('new.task_name') %>
    <%= f.text_field :task_name %><br>
    <%= f.label t('new.task_details')%>
    <%= f.text_field :task_details %><br>
    <%= f.label t('new.task_deadline')%>
    <%= f.text_field :task_deadline %><br>
    <%= f.label t('new.task_status')%>
    <%= f.text_field :task_status %><br>
    <%= f.label t('new.task_priority')%>
    <%= f.text_field :task_priority %><br>
    <%= f.submit t('new.create'),class: "create_task_button"%><br>
  <% end %>
  <%= link_to t('new.back'), tasks_path %>
</div> 
