<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice || (@task == true && @task.erros.any? == true) || (@user == true && @user.erros.any? == true)%>
      <div class="alert alert-danger" role="alert" style ="margin:30px;"><p><%= notice.html_safe %></p>
        <% if @task %>
          <div>
            <ul>
              <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>  
            </ul>
          </div>
        <% end %> 
        <% if @user %>
          <div>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>  
            </ul>
          </div>
        <% end %>  
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
